<?xml version='1.0' encoding='utf-8'?>
<widget id="org.rti.kiwi" version="0.0.3" android-versionCode="3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>KiwiPrintsDemo</name>
    <description>
        A data collection application.
    </description>
    <author email="chris@vetula.com" href="http://kinotel.com">
        Kiwi Developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="LoadUrlTimeoutValue" value="60000"/>
</widget>
